[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/test-4.1.x.cfg
package-name = collective.configviews
package-extras = [test]
extensions = mr.developer
auto-checkout =
    collective.registry

parts+=omelette

[omelette]
recipe=collective.recipe.omelette
eggs=${instance:eggs}
[versions]
plone.app.controlpanel = 2.2.2
[sources]
collective.registry = git git@github.com:collective/collective.registry.git
